$primary-shade:('HeadingColor':red,
  'textColor':black,
  'logoColor':-webkit-linear-gradient(rgb(255, 0, 0), black),
  'iconColor':maroon,
  'activeColor':-webkit-linear-gradient(rgb(255, 0, 0), black),
  'footerColor':#282828,
  'borderColor': red,
  'outlineColor': #e6e6e6);

@function primaryColor($color-name) {
  @return map-get($primary-shade, $color-name)
}

$heading: primaryColor('HeadingColor');
$text: primaryColor('textColor');
$logo: primaryColor('logoColor');
$icon: primaryColor('iconColor');
$active: primaryColor('activeColor');
$footerColor: primaryColor('footerColor');
$borderColor: primaryColor('borderColor');
$outlineColor: primaryColor('outlineColor');
